{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  درباره ما
{% endblock %}

{% block content %}
<div class="mt-20">
  <div class="w-full text-center">
    <h2>
      برنز ارسی
    </h2>
  </div>
  <div class="flex h-screen justify-center items-center px-2 lg:gap-12 lg:px-20 mt-4 lg:mb-20">

      <div class="w-96 h-60 bg-green-800 flex items-center text-lg p-2 font-bold text-white justify-center  rounded-md">
        <ul>
          <li> شماره تماس: 09184058726</li>
          <li> آدرس : همدان شهرک مدرس ک 12 متری دانشگاه پ51</li>
          <li>ایمیل: admin@oorsi.ir</li>
        </ul>

      </div>

  </div>
</div>
{% endblock %}
