<!DOCTYPE html>
 
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block title %}

    {% endblock %}
    {% block custumemeta %}
    {% endblock %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'core/css/output.css' %}?v=3" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

    {% block custumecss %}
    {% endblock %}
    <style>
        .scroll-change {
            transition: background-color 0.3s ease-in-out;
        }
        html{
            scroll-behavior: smooth;
        }
    </style>
    <script src="{% static 'js/cal/lottie-player.js' %}"></script>
    <script src="{% static 'js/cal/lottie-interactivity.min.js' %}"></script>
    <!-- affili tag -->
    <script async src="https://analytics.affili.ir/scripts/affili-v2.js"></script>
    <script>
        window.affiliData = window.affiliData || [];

        function affili() {
            affiliData.push(arguments);
        }

        affili('create');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFT3CZV540"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-LFT3CZV540');
    </script>


    <script>
        !function (t, e, n) {
            t.yektanetAnalyticsObject = n, t[n] = t[n] || function () {
                t[n].q.push(arguments)
            }, t[n].q = t[n].q || [];
            var a = new Date,
                r = a.getFullYear().toString() + "0" + a.getMonth() + "0" + a.getDate() + "0" + a.getHours(),
                c = e.getElementsByTagName("script")[0], s = e.createElement("script");
            s.id = "ua-script-KKZBqdVo";
            s.dataset.analyticsobject = n;
            s.async = 1;
            s.type = "text/javascript";
            s.src = "https://cdn.yektanet.com/rg_woebegone/scripts_v3/KKZBqdVo/rg.complete.js?v=" + r, c.parentNode.insertBefore(s, c)
        }(window, document, "yektanet");
    </script>

    <!-- Hotjar Tracking Code for my site -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 3612823, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

</head>


<body class="bg-[#F1F5F9]" >

{% include 'core/shared/_header.html' %}
    {% block content %}
    {% endblock %}
{% include 'core/shared/_footer.html' %}

</body>
</html>


<script>
    // JavaScript to toggle responsive menu

    const navLinks = document.querySelector('.nav-links')

    function onToggleMenu(e) {
        e.name = e.name === 'menu' ? 'close' : 'menu'
        navLinks.classList.toggle('')
    }


    // JavaScript to change navbar color on scroll
    window.addEventListener('DOMContentLoaded', function () {
        let header = document.querySelector('.header');
        let headerHeight = header.offsetHeight;
        let lastScroll = 0;

        window.addEventListener('scroll', function () {
            let currentScroll = window.scrollY;

            if (currentScroll > headerHeight) {
                if (currentScroll > lastScroll) {
                    header.classList.remove('sticky');
                } else {
                    header.classList.add('sticky');
                }
            } else {
                header.classList.remove('sticky');
            }

            if (currentScroll === 0) {
                header.classList.remove('sticky');
            }

            lastScroll = currentScroll;
        });
    });


    function toggleMessage(id) {

        var message = document.getElementById(id);
        if (message.style.height === "0px") {
            message.style.height = message.scrollHeight + "px";
        } else {
            message.style.height = "0px";
        }
    }


    //javaScript for slider
    var currentSlide = 0;
    var slides = document.querySelectorAll('.slider input');

    function showSlide(n) {
        slides[currentSlide].checked = false;
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].checked = true;
    }

    function prevSlide() {
        showSlide(currentSlide - 1);
    }

    function nextSlide() {
        showSlide(currentSlide + 1);
    }

    // Add event listener to reset slide index when an image is clicked
    var images = document.querySelectorAll('.slider img');
    images.forEach(function (image, index) {
        image.addEventListener('click', function () {
            showSlide(index);
        });
    });

    // Show the first slide initially
    showSlide(0);

    // Automatically change slide every 3 seconds
    setInterval(function () {
        nextSlide();
    }, 3000);

    //more button
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll('.card-container .card');
        var cardCount = cards.length;
        var showCount = 4;

        for (var i = showCount; i < cardCount; i++) {
            cards[i].classList.add('hide');
        }

        document.getElementById('view-more').addEventListener('click', function () {
            for (var i = showCount; i < cardCount; i++) {
                cards[i].classList.toggle('hide');
            }

            this.textContent = (this.textContent === "نمایش بیشتر") ? "مخفی کردن" : "نمایش بیشتر";
        });
    });

</script>


{% block customJs %}

{% endblock %}
