<div class="flex flex-wrap -mx-3">
    <!-- card1 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                    <div class="flex-none w-2/3 max-w-full px-3">
                        <div>
                            <p class="mb-0 font-sans text-sm font-semibold leading-normal">تعداد مخاطب باقی
                                مانده</p>
                            <h5 class="mb-0 font-bold dark:text-white">
                                {{ remaining_contacts_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="px-3 text-left basis-1/3">
                        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-500 to-violet-500">
                            {#                            <img src="../../assets/img/dashboardCards/card1.png" width="40" height="40" alt="cards-pic" aria-hidden="true">#}
                            <i class="fa-solid fa-users-gear leading-none text-lg relative top-3.5 text-white"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- card2 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                    <div class="flex-none w-2/3 max-w-full px-3">
                        <div>
                            <p class="mb-0 font-sans text-sm font-semibold leading-normal">کاربران جدید در آخرین
                                کمپین</p>
                            <h5 class="mb-0 font-bold dark:text-white">
                                {{ number_of_new_customers }}
                            </h5>
                        </div>
                    </div>
                    <div class="px-3 text-left basis-1/3">
                        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-500 to-violet-500">
                            <i class="fa-solid fa-user-plus leading-none text-lg relative top-3.5 text-white"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- card3 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                    <div class="flex-none w-2/3 max-w-full px-3">
                        <div>
                            <p class="mb-0 font-sans text-sm font-semibold leading-normal">تاریخ انقضای آخرین سفارش</p>
                            <h5 class="mb-0 font-bold dark:text-white">
                                {{ last_order_expiration_date }}
                            </h5>
                        </div>
                    </div>
                    <div class="px-3 text-left basis-1/3">
                        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-500 to-violet-500">
                            <i class="fa-solid fa-hourglass-half leading-none text-lg relative top-3.5 text-white"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- card4 -->
    <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                    <div class="flex-none w-2/3 max-w-full px-3">
                        <div>
                            <p class="mb-0 font-sans text-sm font-semibold leading-normal">آخرین کمپین فعال شما</p>
                            <h5 class="mb-0 font-bold dark:text-white">
                                {{ last_offer_title }}
                            </h5>
                        </div>
                    </div>
                    <div class="px-3 text-left basis-1/3">
                        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-500 to-violet-500">
                            <i class="fa-regular fa-people-roof leading-none text-lg relative top-3.5 text-white"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>