<!-- account_customers.html -->

{% extends 'dashboard/_DashMain.html' %}
{% load static %}
{% block title %}
    <title>
        جزییات مشتری های کمپین
    </title>
{% endblock %}
{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/cal/persian-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_offers.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_overview.css' %}?=1">

{% endblock %}
{% block content %}


    <script>
        // Include the CSRF token as a JavaScript variable
        var csrfToken = "{{ csrf_token }}";
    </script>


    <div class="flex flex-col justigy-center items-center">
        <div class="flex flex-col justify-center items-center">
            <h1 class=" text-3xl linear-background p-2 my-8 rounded-md text-gray-900 font-bold text-center">مشتری های
                کمپین شما</h1>
            {% if customers %}
                <form method="get" action="{% url 'dashboard:account-customers-export' offer.id %}">
                    <input hidden type="text" name="phone" value="{{ search_input }}">
                    <button class="inline-block w-full px-6 py-3 mb-4 text-xs font-bold text-center text-white uppercase align-middle transition-all ease-in bg-transparent border-0 rounded-lg shadow-md cursor-pointer dark:border dark:border-solid dark:border-white leading-pro hover:shadow-xs hover:-translate-y-px active:opacity-85 tracking-tight-rem bg-150 bg-x-25 bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850">
                        دریافت فایل اِکسِل
                        <span class="iconify" data-icon="vscode-icons:file-type-excel" data-width="23" data-height="23"></span>
                    </button>
                </form>

                <div id="table-container" class="table_container">
                <table id="my-table" class="rwd-table">
                    <tbody>
                    <tr>
                        <th class="font-bolder text-4">ردیف</th>
                        <th class="font-bolder text-4">نام</th>
                        <th class="font-bolder text-4">ایمیل</th>
                        <th class="font-bolder text-4">شماره تلفن</th>
                        <th class="font-bolder text-4">امتیاز</th>
                        <th class="font-bolder text-4">تعداد وایرال</th>
                        <th class="font-bolder text-4">تاریخ مشارکت</th>
                        <th class="font-bolder text-4">جایزه</th>
                        <!-- Add more columns as needed -->
                    </tr>
                    {% for customer in customers %}
                        <tr>
                            <td data-th="ردیف">{{ forloop.counter }}</td>
                            <td data-th="نام">{{ customer.account.name }} {{ customer.account.last_name }}</td>
                            <td data-th="ایمیل">{{ customer.account.email }}</td>
                            <td data-th="شماره تلفن">{{ customer.account.username }}</td>
                            <td data-th="امتیاز">{{ customer.score }}</td>
                            <td data-th="تعداد وایرال">{{ customer.viral_counter }}</td>
                            <td data-th="تاریخ مشارکت">{{ customer.JaliliDateParticipate }}</td>
                            {% if customer.Gift == None %}
                                <td data-th="جایزه">نگرفته</td>
                            {% else %}
                                <td data-th="جایزه">{{ customer.Gift.name }}</td>
                            {% endif %}
                            <!-- Add more cells and retrieve other customer information -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>هیچکس در این کمپین شرکت نکرده :(</p>
            {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-end mt-5">
            <div class="row">
                <div class="col-md-12">
                    {% if customers.has_other_pages %}
                        <ul class="flex flex-row justify-center items-center gap-5">
                            {% if customers.has_previous %}
                                <li class="flex justify-center items-center text-center  disabled  bg-[#7f60e4] w-7 h-7 cursor-pointer font-bolder text-black rounded-full pb-1 hover:bg-[#191033] hover:text-white">
                                    <a href="?page={{ customers.previous_page_number }}" class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="flex justify-center items-center text-center  disabled  bg-[#7f60e4] w-7 h-7 cursor-pointer font-bolder text-black rounded-full pb-1 hover:bg-[#191033]  hover:text-white">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for i in customers.paginator.page_range %}
                                {% if paged_list.number == i %}
                                    <li class="flex justify-center items-center text-center  disabled  bg-[#7f60e4] w-7 h-7 cursor-pointer font-bolder text-black rounded-full hover:bg-[#191033]  hover:text-white ">
                                        <a class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="flex justify-center items-center text-center  disabled  bg-[#7f60e4] w-7 h-7 cursor-pointer font-bolder text-black rounded-full hover:bg-[#191033]  hover:text-white ">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if customers.has_next %}
                                <li class="flex justify-center items-center text-center  disabled  bg-[#7f60e4] w-7 h-7 cursor-pointer font-bolder text-black rounded-full pb-1 hover:bg-[#191033]  hover:text-white ">
                                    <a href="?page={{ customers.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="flex justify-center items-center text-center  disabled  bg-[#7f60e4] w-7 h-7 cursor-pointer font-bolder text-black rounded-full pb-1 hover:bg-[#191033]  hover:text-white">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function getVal() {
            var dateInput = document.getElementById("score");
            var selectedDate = dateInput.value;
            console.log('get value', selectedDate)
            fetchCustomer();
            console.log('clicked')

            function fetchCustomer() {

                const path = window.location.pathname;
                const pathParts = path.split('/'); // Split the path by '/'
                const offer_id = parseInt(pathParts[pathParts.length - 2]); // Assuming the category ID is the second-to-last segment in the path
                console.log('offer_id', offer_id);
                $.ajax({
                    url: `/Dash/customer_search/${offer_id}`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken  // Use the correct variable name: csrfToken
                    },
                    data: {phone: selectedDate},
                    dataType: 'json',
                    success: function (response) {
                        console.log('res', response)
                        $(".search-results").html(response.data);

                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

        }

    </script>

    <script src="{% static 'js/cal/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/cal/persian-date.min.js' %}"></script>
    <script src="{% static 'js/cal/persian-datepicker.min.js' %}"></script>
    <script type="text/javascript">

        $('#birthday_id').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: '.observer-example-alt',
            autoClose: true,
            //onselect
        });

    </script>


    <script type="text/javascript">
        function getValue() {
            let listOfDate = [];
            var dateInput = document.getElementById("birthday_id");
            var selectedDate = dateInput.value;
            listOfDate.push(selectedDate)
            console.log('list', listOfDate)
            console.log('get value', selectedDate);
            fetchCustomer();
            console.log('clicked')


            function fetchCustomer() {
                // Get the selected brand IDs
                const path = window.location.pathname;
                const pathParts = path.split('/'); // Split the path by '/'
                const offer_id = parseInt(pathParts[pathParts.length - 2]); // Assuming the category ID is the second-to-last segment in the path
                console.log('offer_id', offer_id);

                $.ajax({
                    url: `/Dash/fetch_customers/${offer_id}`,
                    type: 'GET',
                    data: {customers: selectedDate},
                    dataType: 'json',
                    success: function (response) {
                        console.log('res', response)
                        $("#filteredProducts").html(response.data);
                        // Render the products in the container

                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }


        }
    </script>


{% endblock %}
