{% load static %}

{% load humanize %}


{% block content %}

<table class="table" id="filteredProducts">
        <thead>
        <tr>
            <th>شناسه</th>
            <th>تصویر</th>
            <th>عنوان</th>
            <th>تاریخ شروع</th>
            <th>تاریخ پایان</th>
            <th>وایرال</th>
            <th>قرعه‌کشی</th>
            <th>شرکت‌کنندگان</th>
            <th>تحلیل کمپین</th>
            <th> آدرس کمپین</th>
            <!-- Add more table headers for additional offer details -->
        </tr>
        </thead>
        <tbody>
        {% for offer in data %}
            <tr>
            <td>{{ offer.id }}</td>
            {% if offer.image_offer.url != "" %}
            <td><img src="{{offer.image_offer.url}}"></td>
            {% else %}
            <td><img src="{% static 'img/offer-default.webp' %}"></td>
            {% endif %}
            <td>{{ offer.title }}</td>
            <td>{{ offer.JaliliStartDate }}</td>
            <td>{{ offer.JaliliEndDate }}</td>
            {% if offer.viral == False %}
            <td><img src="{% static 'img/cross.webp' %}"></td>
            {% else %}
            <td><img src="{% static 'img/check.webp' %}"></td>
            {% endif %}
            {% if offer.lottery == False %}
            <td><img src="{% static 'img/cross.webp' %}"></td>
            {% else %}
            <td><img src="{% static 'img/check.webp' %}"></td>
            {% endif %}
            <td><a href="{% url 'dashboard:account_customers' offer.id %}">
                <img style="cursor: pointer;  background:black" src="{% static 'img/customers.webp' %}">
            </a></td>
            <td><a href="{% url 'dashboard:offer_analysis' %}?offer={{ offer.id }}">
                <img style="cursor: pointer; background:black" src="{% static 'img/analysis.png' %}">
            </a></td>
             <td>
             {% if offer.landingPage != None %}
                    <a href="{{offer.landingPage}}" style="text-decoration: none;color: black;">{{offer.landingPage}}</a>
                {% else%}
                    <a href="{% url 'offer:giftMaker' offer.id %}" class="offers-btn">تکمیل بازی </a>
                {% endif %}
            </a></td>
            <!-- Add more table cells for additional offer details -->
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}