<!-- offer_templates.html -->

{% extends 'dashboard/_DashMain.html' %}
{% block title %}
    <title>
        کمپین های  ارسی _ داشبورد
    </title>
{% endblock title %}

{% load static %}

{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/sorchi_cards.css' %}?=2">
    <link rel="stylesheet" href="{% static 'css/sorchi_containers.css' %}?=2">
    <link rel="stylesheet" href="{% static 'css/sorchi_btn.css' %}?=4">
    <link rel="stylesheet" href="{% static 'css/offer_templates.css' %}?=1">
{% endblock customCss %}

{% block content %}
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
            <h3 class="linear-background p-2 rounded-md mt-8 mb-16 text-gray-900 text-3xl font-bold">
                <span class="page-title-icon bg-gradient-primary me-2">
                <i class="mdi mdi-home"></i>
                </span> کمپین‌های مجاز برای شما
            </h3>
        </div>
        <div class="grid gap-x-20 gap-y-10 items-center  justify-items-center grid-cols-1 sm:grid-cols-2 grid-col lg:grid-cols-3">


            {% for i in business_templates %}
                <div class="flex flex-col items-center justify-center w-[250px] h-auto bg-white shadow-lg border-gray-200 rounded-2xl m-5">
                    <div class="w-full">
                        {% if i.image %}
                        <img src="{{ i.image.url }}" class="w-full h-[150px] rounded-tr-3 rounded-tl-3" alt="circle-image"/>{% endif %}
                    </div>
                    <div class="simple_card_banner">
                        <h1> {{ i.title_fa }}</h1>
                        {% if i.publish == True %}
                            <p>این بازی برای شما فعال است. </p>
                        {% else %}
                            <p>کمپین برای شما فعال است برای استفاده با پشتبانی تماس بگیرید(09365086743) </p>
                        {% endif %}
                    </div>

                    <div class="flex flex-row items-center justify-center gap-2">
                        {% if i.publish == True %}
                            <a style="text-decoration: none" href="{% url 'offer:pre-create' i.id %}">
                                <button class="inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white capitalize transition-all ease-in rounded-lg shadow-md bg-slate-700 bg-150 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] hover:-translate-y-px ">استفاده</button>
                            </a>
                        {% endif %}
                        <a style="text-decoration: none" href="{% url 'core:TemplateDetail' i.id %}">
                            <button class="relative inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px">پیش‌نمایش</button>
                        </a>
                    </div>
                </div>


                {% empty %}
                <p>هیچ گزینه‌ای یافت نشد.</p>
            {% endfor %}
        </div>

        <br>
        <br>
        <hr>
        <div class="flex flex-col justify-center items-center" >
            <h3 class="my-10 mx-0 font-bold linear-background p-2 rounded-md text-gray-900" > تمپیلت‌های  ارسی</h3>

            <div class="grid items-center  justify-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">

                {% for i in non_free_templates %}

                    <div class="flex flex-col items-center justify-center w-[80%] h-auto bg-white shadow-lg border-gray-200 rounded-2xl m-5">
                        <div class="w-full">
                            {% if i.image %}
                                <img src="{{ i.image.url }}" class="w-full h-[150px] rounded-tr-3 rounded-tl-3" alt="circle-image"/>{% endif %}
                        </div>
                        <div class="simple_card_banner">
                            <h1> {{ i.title_fa }}</h1>
                            {% if i.publish == True %}
                                <a style="text-decoration: none"
                                   href="{% url 'dashboard:subscription' %}?template={{ i.id }}"><p>برای خرید بازی کلیک
                                    کنید.</p></a>
                            {% else %}
                                <a style="text-decoration: none"
                                   href="{% url 'dashboard:subscription' %}?template={{ i.id }}"><p>پس از خریداری برای
                                    استفاده از این بازی با پشتیبانی تماس بگیرید. (09365086743) </p></a>
                            {% endif %}

                        </div>

                        <div class="flex flex-row items-center justify-center gap-2">
                            <a style="text-decoration: none"
                               href="{% url 'dashboard:subscription' %}?template={{ i.id }}">
                                <button class="inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white capitalize transition-all ease-in rounded-lg shadow-md bg-slate-700 bg-150 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] hover:-translate-y-px"> خرید</button>
                            </a>
                            <a style="text-decoration: none" href="{% url 'core:TemplateDetail' i.id %}">
                                <button class="relative inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px">پیش‌نمایش</button>
                            </a>
                        </div>
                    </div>

                    {% empty %}
                    <p>هیچ گزینه ای یافت نشد.</p>
                {% endfor %}
            </div>
        </div>

        <br>


        <div class="simple_banner">
            <div class="banner_data">
                {% if business_subscriptions %}
                    <h1>اشتراک های فعال شما</h1>
                    {% for subscription in business_subscriptions %}
                        <div>
                            <h2>{{ subscription.title }}</h2>
                            <p>{{ subscription.description | safe }}</p>
                            <div class="banner_image">
                                <img src="{{ subscription.plan_image.url }}" alt="">
                            </div>
                            <br>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>شما اشتراک فعالی ندارید.</h1>
                {% endif %}
        </div>
    </div>
{% endblock content %}
