<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block customCss %}
    <link rel="stylesheet" href="{% static 'css/catalog2.css' %}">
    <link rel="stylesheet" href="{% static 'static-blog/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/sorchi_btn.css' %}">
    <meta name="robots" content="noindex, nofollow">
    {% endblock %}
    <title>کاتالوگ نمونه‌کارهای  ارسی</title>
    <!-- affili tag -->
    <script async src="https://analytics.affili.ir/scripts/affili-v2.js"></script>
    <script>
      window.affiliData = window.affiliData || [];function affili(){affiliData.push(arguments);}
      affili('create');
    </script>


      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFT3CZV540"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
  
          function gtag() {
              dataLayer.push(arguments);
          }
  
          gtag('js', new Date());
  
          gtag('config', 'G-LFT3CZV540');
      </script> 

    </script>

        <!-- Hotjar Tracking Code for my site -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3612823,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
</head>
<body>
  <section class="widget_blog_subscription">
    
      {% if user.is_authenticated %}
      <a href="{% url 'dashboard:account_offer_templates' %}" class="btn-gradient btn-read-more d-inline-flex align-items-center justify-content-center align-self-center" style="text-decoration: none; font-weight: bolder;">
        <span >   ساخت بازی تبلیغاتی </span>
        <i class="bi bi-arrow-left"></i>
      </a>
      {% else %}
      <a href="{% url 'account:login' %}" class="btn-gradient btn-read-more d-inline-flex align-items-center justify-content-center align-self-center" style="text-decoration: none; font-weight: bolder;">
        <span>   ساخت بازی تبلیغاتی </span>
        <i class="bi bi-arrow-left"></i>
      </a>
      {% endif %}
    
  </section>
  <div>
    <a href="https://soorchi.com" target="_blank" class="logo">
      <img src="{% static 'img/icons8-home-64.png' %}" width="30px" alt=""><p style="position: relative;"> سـورچـی</p>
    </a>
  <a href="tel:+989365086743" target="_blank" style="text-decoration: none; font-weight: bold; direction: rtl; text-align: center;">
    <div class="gradient" >مشاوره: 09365086743</div>
  </a>
  </div>

<div class="carousel">
  {% for i in games %}
        <div class="carousel-item">
          <div class="carousel-box">
            {% if i.id not in html5games_id %}
              <div><a class="title" href="{{i.landingPage}}" style="text-decoration: none;"><h2 style="font-family: VazirMAtn;">{{i.title}}</h2></a></div>
              <a href="{{i.landingPage}}" class="play-a"><img src="{% static 'img/play-btn.png' %}" alt="play" class="play" /></a>
            {% else %}
              {% for j in html5games %}
                {% if j.offer_detail.id == i.id %}
                <div><a class="title" href="{% static 'demos/G' %}{{ j.gameId }}.html" style="text-decoration: none;"><h2 style="font-family: VazirMAtn;">{{i.title}}</h2></a></div>
                <a href="{% static 'demos/G' %}{{ j.gameId }}.html" class="play-a"><img src="{% static 'img/play-btn.png' %}" alt="play" class="play" /></a>
                {% endif %}
              {% endfor %}
            {% endif %}
            <img src="{{i.image_offer.url}}" alt="{{i.landingPage}}" />
            <div class="num">{{forloop.counter}}</div>
          </div>
        </div>      
  {% endfor %}
</div>
<div class="layout">
	<div class="box"> ارسی<br />پلتفرم گیمیفیکیشن<br />و ساخت بازی های تبلیغاتی</div>
</div>
<div class="cursor"></div>
<div class="cursor cursor2"></div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>به کاتالوگ  ارسی خوش اومدید!</h2>
        <p>ساختار بازی تبلیغاتی به گونه‌ای است که محصولات و خدمات کسب و کار در آن بکار گرفته می‌شود و به افزایش آگاهی از محصول و خدمات کمک می‌کند. این بازی‌ها با هدف جذب مخاطب، بهتر دیده شدن تبلیغ و به دست آوردن اطلاعات از مخاطب هدف، طراحی و ساخته می‌شوند. میتونید نمونه این بازی‌ها رو در کاتالوگ  ارسی ببینید و بازی کنید😊</p>
        <button class="close-modal-btn btn-primary" style="font-weight: bold; cursor: pointer;">متوجه شدم!</button>
      </div>
    </div>
    {% block customJs %}
    <script src="{% static 'js/catalog.js' %}"></script>
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-033XRL93TR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-033XRL93TR');

      var modal = document.getElementById("myModal");
      var closeBtn = document.getElementsByClassName("close")[0];
      var closeBtnModal = document.querySelector(".close-modal-btn");

      function openModal() {
        modal.style.display = "block";
      }

      function closeModal() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          closeModal();
        }
      };

      window.onload = function() {
        setTimeout(openModal, 1000);
      };

      closeBtn.addEventListener("click", closeModal);
      closeBtnModal.addEventListener("click", closeModal);
    </script>
</body>
</html>
