<!-- account_overview.html -->

{% extends  'dashboard/_DashMain.html' %}
{% block title %}
    <title>
              آنالیز - {{offer.title}}
    </title>
{% endblock %}
{% block content %}
{% load static %}
{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/account_overview.css' %}?=1">
{% endblock %}
<div class="flex flex-col justify-center items-center mt-10">
    <h1>تحلیل کمپین "{{offer.title}}"</h1>
    <h1> آدرس کمپین "{{offer.landingPage}}"</h1>
    {% for i in line_chart_labels %}
    {{i}}
    {% endfor %}
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-size: 18px; color: grey;">تعداد شرکت‌کنندگان براساس تاریخ:</h2>
            <br>
            <canvas class="canvas"  id="lastOfferChart" height="300"></canvas>
        </div>
    </div>
    <br>
    <div class="row">
        {% if offer.customer_age %}
        <div class="col-md-6">
            <h2 style="font-size: 18px; color: grey;">بازه سنی شرکت‌کنندگان:</h2>
            <br>
            <canvas class="canvas" id="ageChart" height="200"></canvas>
        </div>
        {% endif %}
        {% if offer.customer_gender %}
        <div class="col-md-6">
            <h2 style="font-size: 18px; color: grey;">جنسیت شرکت‌کنندگان:</h2>
            <br>
            <canvas class="canvas" id="offerChart" height="200"></canvas>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="row">
        {% if offer.customer_education %}
        <div class="col-md-6">
            <h2 style="font-size: 18px; color: grey;"> تحصیلات شرکت‌کنندگان:</h2>
            <br>
            <canvas class="canvas" id="education-chart" height="200"></canvas>
        </div>
        {% endif %}
    </div>
    <br>
    
    <br>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var educationLabels = {{ education_levels|safe }};
            var educationData = {{ education_data|safe }};
            
            var educationChart = new Chart("education-chart", {
            type: 'bar',
            data: {
                labels: educationLabels,
                datasets: [{
                label: 'تعداد شرکت‌کنندگان',
                data: educationData,
                backgroundColor: 'rgba(255, 191, 0, 0.5)',
                borderColor: 'rgba(255, 191, 0, 1)',
                borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                y: {
                    beginAtZero: true,
                    precision: 0,
                    stepSize: 1
                }
                }
            }
            });

                    // Retrieve the age range and count data from the context
                    var ageRanges = {{ age_ranges|safe }};
                    var ageData = {{ age_data|safe }};
            
                    // Create a new chart instance
                    var ctx = document.getElementById("ageChart").getContext("2d");
                    var ageChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ageRanges,
                            datasets: [{
                                label: 'تعداد شرکت‌کنندگان',
                                data: ageData,
                                backgroundColor: 'rgba(75, 192, 192, 0.8)', // Customize the bar color
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    stepSize: 1 // Customize the step size on the y-axis
                                }
                            }
                        }
                    });

        // Line chart
            var lastOfferChartCtx = document.getElementById('lastOfferChart').getContext('2d');
            var lastOfferChart = new Chart(lastOfferChartCtx, {
                type: 'line',
                data: {
                    labels: {{ line_chart_labels|safe }},
                    datasets: [{
                        label: 'تعداد شرکت‌کنندگان',
                        data: {{ line_chart_data|safe }},
                        fill: false,
                        borderColor: 'rgba(255, 99, 132, 0.5)',
                        borderWidth: 3
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'تعداد'
                            },
                            ticks: {
                                stepSize: 1
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'تاریخ'
                            }
                        }
                    }
                }
            });

            // Pie chart
            var offerChartCtx = document.getElementById('offerChart').getContext('2d');
            var offerChart = new Chart(offerChartCtx, {
                type: 'pie',
                data: {
                    labels: {{ pie_labels|safe }},
                    datasets: [{
                        data: {{ pie_data|safe }},
                        backgroundColor: [
                            'rgba(255, 191, 0, 0.5)',
                            'rgba(0, 254, 255, 0.5)',
                            'rgba(255, 99, 132, 0.5)'
                            // Add more colors as needed
                        ],
                        borderColor: [
                            'rgba(255, 191, 0, 1)',
                            'rgba(0, 254, 255, 1)',
                            'rgba(255, 99, 132, 1)'
                            // Add more colors as needed
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    }
                }
            });
        });
        
    </script>
{% endblock %}
