{% extends 'dashboard/_DashMain.html' %}

{% load static %}
{% load humanize %}
{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/sorchi_cards.css' %}?=2">
    <link rel="stylesheet" href="{% static 'css/sorchi_btn.css' %}?=4">
    <link rel="stylesheet" href="{% static 'css/account_offers.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_overview.css' %}?=1">



{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center my-5">
            <h1 class=" text-3xl linear-background p-2 my-8 rounded-md text-gray-900 font-bold text-center">خرید اشتراک</h1>
        </div>
        {% if mess %}
            <h2>{{ mess }}</h2>
        {% endif %}
        <div class="grid  gap-x-20 gap-y-10 items-center  justify-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            {% for i in TOT %}
                <div class="flex flex-col items-center justify-center w-[250px] h-auto bg-white shadow-lg border-gray-200 rounded-2xl m-5">
                    <div class="w-full">
                        {% if i.plan_image %}
                            <img src="{{ i.plan_image.url }}" class="w-full h-[150px] rounded-tr-3 rounded-tl-3" alt="circle-image"/>{% endif %}
                    </div>
                    <div class="simple_card_banner">
                        <h1>{{ i.title }}</h1>
                        <p>{{ i.final_price | intcomma }} تومان</p>

                    </div>
                    <div class="flex flex-row items-center justify-center gap-2">
                        {% if i.final_price != 0 and i not in business_subs %}
                            <a href="{% url 'payment:request' i.id %}">
                                <button class="inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white capitalize transition-all ease-in rounded-lg shadow-md bg-slate-700 bg-150 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] hover:-translate-y-px">خرید</button>
                            </a>
                        {% else %}
                            <button class="inline-block w-full px-8 py-2 text-xs font-bold leading-normal text-center text-white capitalize transition-all ease-in rounded-lg shadow-md bg-slate-300 bg-150 hover:shadow-2xl hover:-translate-y-px">خرید</button>
                        {% endif %}
                        <a href="#">
                            <button class="relative inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px">جزییات</button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <p>هیچ گزینه‌ای یافت نشد.</p>
            {% endfor %}
        </div>
        <hr>
        {% if SMS %}
            <div class="flex flex-col justify-center items-center" >
                <h1 class="text-3xl linear-background p-2 my-8 rounded-md text-gray-900 font-bold text-center">خرید پیامک</h1>
            </div>
            <div class="grid  gap-x-20 gap-y-10 items-center  justify-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                {% for i in SMS %}
                    <div class="flex flex-col items-center justify-center w-[250px] h-auto bg-white shadow-lg border-gray-200 rounded-2xl m-5">
                        <div class="w-full">
                            {% if i.plan_image %}<img src="{{ i.plan_image.url }}" class="w-full h-[150px] rounded-tr-3 rounded-tl-3"
                                                      alt="circle-image"/>{% endif %}
                        </div>
                        <div class="simple_card_banner">
                            <h1>{{ i.title }}</h1>
                            <p>{{ i.final_price | intcomma }} تومان</p>
                        </div>
                        <div class="simple_card_button_wrapper gap-3">
                            <a href="{% url 'payment:request' i.id %}">
                                <button class="inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white capitalize transition-all ease-in rounded-lg shadow-md bg-slate-100 bg-150 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] hover:-translate-y-px">خرید</button>
                            </a>
                            <a href="#">
                                <button class="relative inline-block w-full px-6 py-2 my-8 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px">جزییات</button>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <p>هیچ گزینه‌ای یافت نشد.</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %} 
