{% load static %}

<!-- ======= Blog Header start ======= -->
<div dir="rtl" id="blog-header font-persianBold" class="w-auto p-0 mb-2">
    <ul class="hidden xlg:fixed xlg:p-4 xlg:bg-gradient-to-tl xlg:from-[#4D3BC3] xlg:to-violet-350 xlg:z-10 w-full font-bold xlg:text-lg text-white xlg:top-0 xlg:right-0  xlg:flex hover:bg-[]">
        <a href="{% url "core:home" %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li> ارسی</li>
        </a>
        <a href="{% url 'blog:post-list' %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li>مجله</li>
        </a>
        <a href="{% url 'core:examble' %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li>بازیتو بساز</li>
        </a>
        <a href="{% url 'core:aboutUs' %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li>درباره ما</li>
        </a>
    </ul>
    <ion-icon onclick="menu_opener()" class="absolute text-2xl z-20 right-3 top-3 text-white xlg:hidden"
              name="menu"></ion-icon>
    <ul id="mobile_menu" class="hidden fixed text-center z-20 bg-white w-1/2 rounded-lg h-96 mr-24 mt-24">
        <ion-icon onclick="menu_opener()" class="text-red-800 float-right text-xl mt-2 mr-1" name="close"></ion-icon>
        <a href="{% url "core:home" %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li> ارسی</li>
        </a>
        <a href="{% url 'blog:post-list' %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li>مجله</li>
        </a>
        <a href="{% url 'core:examble' %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li>بازیتو بساز</li>
        </a>
        <a href="{% url 'core:aboutUs' %}"
           class="border-l px-4 border-l-white border-opacity-25 hover:bg-gray-50 hover:bg-opacity-20">
            <li>درباره ما</li>
        </a>
    </ul>
    <img class="hidden md:block m-0 w-full relative" src="{% static 'blog/images/back.png' %}" alt="بازی تبلیغاتی">
    <img class="m-0 w-full md:hidden relative" src="{% static 'blog/images/mobile-banner-blog.png' %}"
         alt="بازی تبلیغاتی">

    <div>
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- ======= Blog Header end ======= -->
