<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shope</title>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
{% include  'include/navbar.html' %}

{% block body %}

{% endblock %}


<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
        <h2>You can tell us:</h2>
      <div class="col-lg-3 mb-3">
          

        <ul class="list-unstyled small">
          <li class="mb-2">Designed and built with all the love in the world by the <a >Online Shop team</a> with the help of <a href="{% url 'homepage:aboutus' %}">our contributors</a>.</li>
            <li>Address: {{ contact.address }}</li>
            <li>Phone: {{ contact.phone_number }}</li>
            <li>Email: {{ contact.email }}</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5><a href="{{ contact.telegram }}">Telegram</a></h5>

      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5><a href="{{ contact.instagram }}">Instagram</a></h5>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5><a href="{{ contact.whatsapp }}">WhatsApp</a></h5>

      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5><a href="{{ contact.eitaa }}">Eitaa</a></h5>

      </div>
    </div>
  </div>
</footer>

</body>
<script src="{% static 'index.js' %}"></script>
</html>