@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------Added Fonts--------------*/

@font-face {
    font-family: AnjomanMax_Thin;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Anjoman/woff/AnjomanMax-Thin.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-Thin.woff2);
}

@font-face {
    font-family: AnjomanMax_ExLight;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Anjoman/woff/AnjomanMax-ExLight.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-ExLight.woff2);
}

@font-face {
    font-family: AnjomanMax_Light;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Anjoman/woff/AnjomanMax-Light.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-Light.woff2);
}

@font-face {
    font-family: AnjomanMax_Medium;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Anjoman/woff/AnjomanMax-Medium.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-Medium.woff2);
}

@font-face {
    font-family: AnjomanMax;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Anjoman/woff/AnjomanMax-SemiBold.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-SemiBold.woff2);
}

@font-face {
    font-family: AnjomanMax_ExBold;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Anjoman/woff/AnjomanMax-ExBold.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-ExBold.woff2);
}

@font-face {
    font-family: AnjomanMax_Black;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Anjoman/woff/AnjomanMax-Black.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-Black.woff2);
}

@font-face {
    font-family: AnjomanMax_Bold;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Anjoman/woff/AnjomanMax-Bold.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-Bold.woff2);
}

@font-face {
    font-family: AnjomanMax_Regular;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Anjoman/woff/AnjomanMax-Regular.woff),
    url(../fonts/Anjoman/woff2/AnjomanMax-Regular.woff2);
}

body {
    scroll-behavior: smooth !important;
    font-family: AnjomanMax !important;
    /*persian numbers*/
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}




/*--------------End of Added Fonts--------------*/


@layer components {
    .proname{
        @apply  h-10 lg:h-24;
    }
    .button {
        @apply flex items-center border border-transparent rounded-lg p-2;
    }
    .btn{
        @apply appearance-none border border-transparent rounded-[16px] border-b-4 border-b-transparent box-border text-white cursor-pointer inline-block font-bold text-sm tracking-wide leading-5 m-0 outline-none overflow-visible py-[13px] text-center uppercase touch-manipulation transform select-none align-middle whitespace-nowrap relative before:content-[''] before:border before:border-transparent before:rounded-[16px] before:border-b-4 before:absolute before:inset-0 before:z-[-1] hover:filter hover:brightness-110 disabled:cursor-auto active:border-t-4 active:border-b-0 active:bg-transparent;
    }
    .codeinput{
        @apply rounded-md mx-2;
    }
    .form-control{
        @apply border-2 border-gray-300 rounded-lg  h-12 w-full focus:bg-blue-100;
    }
    .succes_btn{
        @apply bg-green-300 rounded-md shadow shadow-green-500;
    }
    
    .primary_btn{
        @apply bg-blue-300 flex justify-center items-center text-xl lg:text-base p-1 rounded-md shadow shadow-blue-500;
    }

    .active-link {
        @apply lg:px-2 h-6 w-36 xl:h-12 xl:w-[270px] bg-cover text-xs font-AnjomanMax_ExBold  text-green-800 lg:text-base flex justify-center items-center ;
    }
    .link {
        @apply lg:px-2 h-6 w-36 xl:h-12 xl:w-[270px] bg-cover text-xs lg:text-base flex justify-center items-center;
    }
    .productBox{
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-2;
    }
    .productImg{
        @apply w-1/3 rounded-md  md:w-auto;
    }
    .productDetail{
        @apply w-full p-2 ;
    }
    .item{
        @apply flex justify-start items-center lg:block hover:shadow-md hover:shadow-gray-400 hover:rounded-xl border-r border-b;
    }
    .priceTag{
        @apply h-24 flex  justify-around items-center;
    }
}

@layer utilities {
    .px-content {
        @apply xl:pr-72 xlg:pr-60  xl:pl-20;
    }

    .gameLanding_gifts_bg {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: white;
        /*clip-path: polygon(50% 70%, 100% 60%, 100% 100%, 0 100%, 0% 60%);*/
        clip-path: polygon(51% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}





