{% extends "shop/base.html" %}

{% block title %}
تاریخچه
{% endblock %}

{% block content %}
    <div class="w-full p-40 min-h-screen bg-blue-100 ">
        {% for i in orders %}
        <div class="w-screen lg:w-auto bg-gray-300 my-2">
        <p>شماره سفارش: {{i.id}}  </p>
        
        <p>جمع کل مبلغ پرداختی </p>
        <div class="flex flex-wrap w-full bg-gray-100">
            {% for j in i.get_items %}
                <div class="flex justify-evenly items-center w-full lg:w-56 ">
                    <div class="w-16 h-16">
                        <img src="{{j.product.image.url}}" class="w-16" alt="">
                    </div>
                    <div>
                        <p>نام: {{j.product.name}}</p>
                        <p>قیمت: {{j.price}}</p>
                        <p>تعداد: {{j.quantity}}</p>
                    </div>

                </div>

            {% endfor %} 
        </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
