<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/aboutus_style.css' %}">

</head> 
<body>
    <div class="header">


    </div>
    <div class="body">
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <div class="test">test</div>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
    </div>
</body>
</html>