<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shope</title>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body>
    <div class="banner">
        <div class="card_box">
            <div class="detail_card">
                <p>{{product.name}}</p>
                <p>{{product.id}}</p>
            
            
        </div>
        </div>

    </div>
</body>
<script src="{% static 'index.js' %}"></script>
</html>