<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shope</title>
    <style>
        body{
            background-color: blueviolet;
             display: flex;
              justify-content: center;
               align-items: center; 
               width: 100vw;
                height: 100vh;
                flex-direction: column;
        }
        .first_h1{
            color: aliceblue;
        }
        #my_p{
            color: yellow;
        }
    </style>
</head>
<body>
    <h1 class="first_h1">hello world!!</h1>
    <h1 class="first_h1">{{name}}</h1>
    <p id="my_p">this is a test</p>
</body>
</html>