{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="صفحه فراموشی ارسی"> 
  <meta name="description" content= "فراموشی رمز ارسی برای دریافت مجدد زمزعبور"> 
  <meta name="keywords" content="ورود, ارسی"> 
  <meta name="author" content="Siavash Rahimi"> 
  <meta name="robots" content="noindex, nofollow">
  <title>فراموشی رمز عبور</title>
  <link href="{% static 'css/output.css' %}?v=1" rel="stylesheet">

      <!-- affili tag -->
      <script async src="https://analytics.affili.ir/scripts/affili-v2.js"></script>
      <script>
        window.affiliData = window.affiliData || [];function affili(){affiliData.push(arguments);}
        affili('create');
      </script>
  
  
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFT3CZV540"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
    
            function gtag() {
                dataLayer.push(arguments);
            }
    
            gtag('js', new Date());
    
            gtag('config', 'G-LFT3CZV540');
        </script> 
  
      </script>
  
          <!-- Hotjar Tracking Code for my site -->
          <script>
              (function(h,o,t,j,a,r){
                  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                  h._hjSettings={hjid:3612823,hjsv:6};
                  a=o.getElementsByTagName('head')[0];
                  r=o.createElement('script');r.async=1;
                  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                  a.appendChild(r);
              })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
          </script>
</head>

<body class="w-full h-screen bg-gray-50">
  <div class="w-full h-full flex justify-center items-center">
    <div class="w-11/12 bg-white rounded-xl p-4 text-center md:w-96">
    <div>
      <div class="p-6">
          <h4> تغییر رمز عبور  </h4>
          {% if message %}
          <h3>{{message}}</h3>
          {% endif %}
          </div>
        </div>
      <div>
        <form role="form" method="post">
          {% csrf_token %}
          <div>
            <input type="username" name="username" placeholder="شماره همراه" class="px-4 my-4 w-full h-12 rounded-xl border-gray-100 bg-slate-100" value="{{phone}}" >
          </div>
          <div>
            <input type="password" name="password" placeholder="رمز عبور جدید" class="px-4 my-4 w-full h-12 rounded-xl border-gray-100 bg-slate-100">
          </div>
          <div>
            <button class="btnR btn-primary my-4" type="submit">ارسال</button>
          </div>
          {% if error == "user404" %}
            <p>کاربری با این شماره یافت نشد! <a href="{% url 'account:verify' "signup" %}">حساب جدید بساز</a></p>
            {% endif %}
            {% if error == "notMatch" %}
            <p> شماره تلفن با شماره ارسالی همخوانی ندارد </p>
            {% endif %}

        </form>
      </div>
    </div>
  </div>
</body>

</html>
