{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="صفحه ساخت حساب کاربری ارسی">
    <meta name="description" content="صفحه ساخت حساب ارسی برای ساخت بازی تبلیغاتی ">
    <meta name="keywords" content="ساخت حساب , ارسی">
    <meta name="author" content="Siavash Rahimi">
    <meta name="robots" content="noindex, nofollow">
    <title> ثبت نام ارسی </title>
    <link href="{% static 'css/output.css' %}v=3" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- affili tag -->
    <script async src="https://analytics.affili.ir/scripts/affili-v2.js"></script>
    <script>
        window.affiliData = window.affiliData || [];

        function affili() {
            affiliData.push(arguments);
        }

        affili('create');
    </script>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFT3CZV540"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-LFT3CZV540');
    </script>

    </script>

    <!-- Hotjar Tracking Code for my site -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 3612823, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <style>
        .bg-wave-pattern {
            background-image: url("{% static 'img/svg-patterns/uuunion.svg' %}");
        }
    </style>
</head>

<body class="w-full bg-[#F1F5F9]">
<main class="h-screen w-full max-w-7xl mx-auto flex flex-col">
    <div class="w-full h-full flex justify-center items-center">
        <div class="relative h-screen w-full xl:w-[80%] xl:h-[90vh] xl:max-h-[1000px] bg-white rounded-xl flex flex-col xl:flex-row overflow-hidden gap-10 xl:gap-0 justify-center items-center"
             style="box-shadow: 0 12px 40px rgba(132,58,191,0.30)">
            <a href="{% url "core:home" %}"
               class="text-xs text-gray-600 font-medium mb-5 p-1 w-fit absolute hidden xl:block"
               style="top:15px; right: 15px"><i class="fa-solid fa-arrow-right"></i> بازگشت به سایت اصلی</a>
            {#    Form    #}
            <div class="w-full max-w-3xl xl:h-full flex flex-col xl:w-1/2 p-10 pt-5 xl:justify-center overflow-y-auto">
                <div class="flex-col flex gap-2 mb-5">
                    <h1 class="text-bold text-lg md:text-xl xl:text-2xl font-bold text-center">
                        ساخت حساب کاربری
                    </h1>
                </div>
                <div>
                    <form role="form" method="post" class="flex flex-col gap-2">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                <p>{{ field.label_tag }}</p>
                                {% if field.name == 'password' %}  <!-- Check if the field is the password field -->
                                    <div class="relative w-full my-2">
                                        <input name="{{ field.name }}" id="{{ field.auto_id }}" type="password"
                                               placeholder="رمز عبور"
                                               class="font-semibold px-4 w-full h-12 rounded-xl border border-gray-300 bg-slate-100 text-start pl-10"
                                               required>
                                        <button id="togglePassword" type="button"
                                                class="absolute mx-auto transform -translate-y-1/2 text-gray-500"
                                                style="left:.8rem;top: 25px">
                                            <span id="toggleIcon"><i class="fa-solid fa-eye"></i></span>
                                        </button>
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="w-full button customShadow shadow-primary-50/20 px-10 font-medium text-xl bg-primary before:bg-primary-500 text-white flex gap-2 items-center justify-center"
                                    >ساخت حساب کاربری
                            </button>
                        </div>
                        {% for i in errors %}
                            <p class="text-base font-medium text-center bg-red-100 p-3 flex gap-1 items-center justify-center rounded-xl"
                               style="color: red"><i class="fa-solid fa-triangle-exclamation"></i>{{ i }}</p>
                        {% endfor %}

                        <p class="text-center mt-2">
                            حساب کاربری دارید؟ <a class="text-secondary"
                                                  href="{% url 'account:login' %}">وارد شوید!</a>
                        </p>
                    </form>
                </div>
            </div>
            {#    pic    #}
            <div class="w-full fixed top-0 h-[10vh] xl:relative xl:top-auto
             xl:block xl:h-full xl:w-1/2 bg-wave-pattern bg-no-repeat bg-cover rounded-b-2xl overflow-hidden xl:rounded-none ">
            </div>
        </div>
    </div>
</main>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordField = document.getElementById('password');
        const toggleIcon = document.getElementById('toggleIcon');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.innerHTML = '<i class="fa-solid fa-eye-slash"></i>'; // آیکون چشم بسته برای نمایش متن
        } else {
            passwordField.type = 'password';
            toggleIcon.innerHTML = '<i class="fa-solid fa-eye"></i>'; // آیکون چشم باز برای مخفی کردن متن
        }
    });

</script>
</body>
</html>
