.my_box{
    background-color: rgb(8, 56, 83);
     display: flex;
      justify-content: center;
       align-items: center;
        width: 100vw;
         height: 100vh;
}
.my_title{
    color: rgb(229, 233, 9);
}