{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block custommeta %}
<meta name="product_id" content="{{product.id}}">
<meta name="product_name" content="{{product.name}}">
<meta property="og:image" content="{{ product.image.url }}">
<meta name="product_price" content="{{product.get_final_price }}">
<meta name="product_old_price" content="{{ product.price }}">

{% if product.available == True %} <meta name="availability" content="instock">{% else %} <meta name="availability" content="outofstock">{% endif %}
      
{% endblock custommeta %}
{% block content %}
  <div class="w-full mt-24 lg:mt-20  lg:px-10 lg:flex lg:justify-evenly lg:min-h-screen"> 
      <div class="w-11/12 mx-auto m-2 lg:w-2/5 lg:px-20 lg:size-[500px] overflow-visible">
        <img class="w-full mx-auto lg:w-[500px] lg:hover:w-[600px]" src="{% if product.image %}{{ product.image.url }}{% else %}
        {%  static 'img/no_image.png' %}{% endif %}" aria-details="True">

      </div>
    <div class="w-full px-5 lg:p-0 lg:w-1/2">
      <div class="recommendations">
        <h2 class="flex items-center justify-start">
          <a class="button 
          text-blue-200 font-AnjomanMax_SemiBold w-40 my-2" href="{{ product.category.get_absolute_url }}">
            {{ product.category }}  <span class="text-gray-500">/</span>
          </a>
        </h2>
      </div>
      <h1 class="font-AnjomanMax_ExBold text-xl">{{ product.name }}</h1>
      <i class="fa-solid fa-star text-yellow-300"></i>
      <i class="fa-solid fa-star text-yellow-300"></i>
      <i class="fa-solid fa-star text-yellow-300"></i>
      <i class="fa-solid fa-star text-yellow-300"></i>
      <i class="fa-solid fa-star text-yellow-300"></i>
      <hr>

      <p class="font-AnjomanMax_ExBold text-green-600 my-2">{{ product.price | intcomma }} تومان</p>
      <div class="w-full flex justify-start">
        {% if product.available == True %}
        <div class="w-full">
        <form class="w-full lg:w-full flex justify-between items-center" action="{% url "cart:cart_add" product.id %}" method="post">
          <div class="flex">
            <label for="id_quantity">تعداد:</label>
        <select class="text-center  w-16 rounded-sm mx-2" name="quantity" id="id_quantity">
          <option value="1">1</option>
        
          <option value="2">2</option>
        
          <option value="3">3</option>
        
          <option value="4">4</option>
        
          <option value="5">5</option>
        
          <option value="6">6</option>
        
          <option value="7">7</option>
        
          <option value="8">8</option>
        
          <option value="9">9</option>
        
          <option value="10">10</option>
        
          <option value="11">11</option>
        
          <option value="12">12</option>
        
          <option value="13">13</option>
        
          <option value="14">14</option>
        
          <option value="15">15</option>
        
          <option value="16">16</option>
        
          <option value="17">17</option>
        
          <option value="18">18</option>
        
          <option value="19">19</option>
        
          <option value="20">20</option>
        
        </select>  
        <input type="hidden" name="override" value="False" id="id_override">
        </div>
          {% csrf_token %}
          <button class="button flex justify-center w-80 bg-green-200  shadow-inner shadow-green-400 m-2  text-black lg:my-4" type="submit" > افزودن به سبد <img class="size-6" src="{% static 'img/cart.png' %}" alt=""></button>

        </form>
        {% if product.deliveryTime %}
            <p class="text-purple-700"> {{product.deliveryTime}}</p>
        {% else %}
        <p class="text-purple-700"> آماده سازی و ارسال 6 روز کاری</p>
        {% endif %}
      </div>
        {% else %}
        <div>
          <button class="button w-60 bg-gray-200  shadow-inner shadow-gray-400 my-2  text-black lg:my-4" type="submit" > افزودن به سبد <img class="size-6" src="{% static 'img/cart.png' %}" alt=""></button>
        <div>
          <p class="text-red-500 text-sm"> موجود نیست </p>
          {% comment %} <!-- <form action="{% url 'shop:crm' %}">
          {% csrf_token %}
          <div class="flex  items-center space-x-2">
            <input class="text-center h-12 border rounded-md mx-2" name="phone" type="text" placeholder="شماره تلفن"> <button class="button w-32 bg-green-200  shadow-inner shadow-green-400 my-2  flex justify-center text-black lg:my-4" type="submit">ثبت</button>
          </div>
        </form> --> {% endcomment %}
        </div>

        </div>

        {% endif %}
      </div>

    <div class="mt-4">
      <button id="desbtn1" onclick="win('description')" class="w-32 border-0 bg-gray-100 text-gray-600 text-[14px]"> معرفی </button>
      <button id="desbtn2"  onclick="win('Specifications')" class="w-32 border-0 bg-gray-100 text-gray-600 text-[18px]"> مشخصات </button>
      <hr>
      <div id="description" class="text-justify w-full p-4 hidden">
        {{ product.description|safe }}

      </div>
      <div id="Specifications" class="text-justify w-full p-4 ">
        <ul>
          <li>جنس محصول:
            برنز</li>
            <li>ضمانت نامه کتبی اصالت محصول:
              دارد</li>
              {% if product.size %}
              <li>اندازه: {{product.size}}</li>
              {% endif %}
              {% if product.weight %}
              <li>وزن : {{product.weight}}
              </li>
              {% endif %}
              <li>ارسال رایگان در شهر همدان:
                دارد</li>
                <li>ارسال به سراسر کشور:
                  دارد</li>
        </ul>
        {{ product.Specifications|safe }}
      </div>
    </div>

    


    </div>


  </div>
{% endblock %}

{% block customJs %}
<script>
  function win(variable) {
    let description = document.getElementById('description');
    let Specifications = document.getElementById('Specifications');
    let desbtn1 = document.getElementById('desbtn1');
    let desbtn2 = document.getElementById('desbtn2');
    if (variable == "description") {

      desbtn1.style.fontSize = "18px";
      desbtn2.style.fontSize = "14px";
      description.style.display = "block";
      Specifications.style.display = "none";

    }else if("Specifications"){
      description.style.display = "none";
      Specifications.style.display = "block";
      desbtn1.style.fontSize = "14px";
      desbtn2.style.fontSize = "18px";
    }
  }
</script>
{% endblock %}