{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
{#  Hero  #}

{% include 'shop/components/Hero.html' %}


  <div id="main" class="w-full min-h-screen flex justify-center items-center ">
    <div>

    <hr>
    <h1><a class="link" href="{% url 'shop:product_list' %}">مشاهده همه</a></h1>
    <div class="flex flex-wrap">
    {% for product in products %}
    <div class="item  m-2">
        <a href="{{ product.get_absolute_url }}">
          <img class="border border-gray-800 w-96" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        T{{ product.price }}
      </div>
    {% endfor %}
  </div>
</div>
  </div>
{% endblock %}
