{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  سبد خرید 
{% endblock %}

{% block content %}
<div class="px-2 pt-14 lg:pt-20 min-h-screen">

      {% for item in cart %}
        {% with product=item.product %}
         <div class="flex border-t">

            <div class="w-1/2 p-4 flex justify-center items-center">
              <a href="{{ product.get_absolute_url }}">
                <img class="w-full lg:size-[500px] border border-gray-300" src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </div>
            <div class="w-1/2 py-4">
              <p>{{ product.name }}</p>
              <div class="w-full px-4 text-left lg:text-right lg:my-4">
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.override }}
                  <input class="w-24 primary_btn" type="submit" value="بروزرسانی">
                  {% csrf_token %}
                </form>

                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                  <input class="w-24 mt-4 bg-red-300 rounded-md shadow shadow-red-500" type="submit" value="Remove">
                  {% csrf_token %}
                </form>
              </div>
              

              <div>
                <p>قیمت هر واحد</p>
                <p class="text-blue-600">{{ item.price }} تومان</p>
              </div>
              <div>
                <p>قیمت کل</p>
                <p class="text-blue-800">{{ item.total_price }} تومان</p>
              </div>
          </div>
        {% endwith %}
      </div>
      {% endfor %}
      <div class="p-4">
        <hr>
        {% if cart.coupon %}
    
        <p>جمع</p>

        <p class="num">{{ cart.get_total_price}} تومان</p>

          "{{ cart.coupon.code }}" تخفیف
          ({{ cart.coupon.discount }}% off)

          - تومان{{ cart.get_discount }}

    {% endif %}

      <p>جمع کل</p>

       <p class="text-green-600"> {{ cart.get_total_price_after_discount }} تومان</p>
      </div>


  

<div>
  <p>اعمال تخفیف</p>
  <form class="flex items-center bg-gray-300" action="{% url "coupons:apply" %}" method="post">
    {{ coupon_apply_form }}
      <input class="w-32 primary_btn my-4" type="submit" value="اعمال">
    {% csrf_token %}
  </form>
</div>

  <div class="text-center my-4 w-full flex justify-start ">
    <a href="{% url 'shop:product_list' %}" class="w-32 primary_btn">ادامه خرید</a>
    <a href="{% url 'orders:order_create' %}" class="w-32 succes_btn mx-4">پرداخت</a>
  </div>
</div>
{% endblock %}
