<footer class="flex w-full items-center justify-center bg-gray-800 h-40">
    <p class="text-white"><span class="text-white">&copy; <a
            class="text-yellow-500 hover:text-blue-400 font-persianBold text-lg" href="#">  محصولات برنز خلیج فارس</a></span> | تمامی
        حقوق محفوظ است.</p>
        <div class="w-40 mx-10">
            <img referrerpolicy='origin' id = 'rgvjjzpergvjjxlzapfujxlz' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=373151&p=xlaojyoexlaorfthdshwrfth", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=373151&p=qftiyndtqftinbpdujynnbpd' />
        </div>
        <div class="w-40">
        <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=535521&Code=UjPWkz7FXBF6Ucb45djNgHrCYzTsvqzq'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=535521&Code=UjPWkz7FXBF6Ucb45djNgHrCYzTsvqzq' alt='' style='cursor:pointer' code='UjPWkz7FXBF6Ucb45djNgHrCYzTsvqzq'></a>
    </div>
    </footer>