{% load static %}
<style>
    .header {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        transition: 0.5s ease-in-out;
        z-index: 10;
    }

    .header.sticky {
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    #mobile-nav {
        height: 100dvh;
        height: 100vh;
    }

    #mobile-nav.show {
        display: flex;
        transform: translateX(0%);
    }

    #backdrop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        transition: display 0.3s ease;
    }

    #backdrop.show {
        display: block;
    }

</style>
<header class="mx-auto header bg-white w-full relative px-4 py-2 lg:px-6 2xl:px-8 shadow-[0_4px_20px_0px_rgba(41,144,251,.12)]">

    <div class="flex w-full justify-between items-center max-w-7xl mx-auto gap-5">
        {#  toggle mobile nav btn  #}
        <div class="flex items-start justify-start w-1/4 lg:hidden">
            <i class="fa-solid fa-bars text-2xl cursor-pointer" onclick="toggleMobileMenu()"></i>
        </div>

        {#  Desktop navbar  #}
        <nav id="navbar"
             class="hidden lg:block lg:flex-row w-full bg-transparent justify-center items-center lg:justify-between">
            <div class="w-full items-center">
                <ul class="w-full text-base flex gap-4">
                    <li><a class="hover:text-primary transition-all font-medium nav-link"
                        href="{% url 'shop:home' %}">
                     <i class="fas fa-home"></i> خانه </a></li>
                    |
                    <li><a class="hover:text-primary transition-all font-medium nav-link"
                           href="{% url 'shop:product_list' %}">
                        <i class="fas fa-list"></i>دسته بندی</a></li>
                    |
                    <li><a class="hover:text-primary transition-all font-medium nav-link"
                           href="{% url 'blog:post-list' %}">
                        <i class="fas fa-book"></i> مجله   محصولات برنز خلیج فارس</a></li>
                    |
                    <li><a class="hover:text-primary transition-all font-medium nav-link"
                            href="{% url 'shop:about' %}">
                            <i class="fas fa-info-circle"></i> درباره ما</a></li>
                </ul>
            </div>
        </nav>
        {#  Soorchi logo  #}
        <div class="flex items-center justify-end lg:justify-start w-1/6 lg:order-first">
            <div class="cart">
                {% with total_items=cart|length %}
                  {% if total_items > 0 %}
                  <a class="relative" href="{% url 'cart:cart_detail' %}">
                    <img src="{% static 'img/logo.png' %}" 
                        class="w-full object-contain rounded-xl animate-wiggle hover:animate-spin  animate-infinite animate-ease-in-out transition-all h-[40px] lg:h-[50px] -z-10">

                      <p class="absolute size-7 flex justify-center items-center rounded-full bg-red-700 text-white font-AnjomanMax_Black -mt-5 -mr-4 z-20">{{ total_items }}</p>
                    </a>
                  {% elif not order %}
                  <img src="{% static 'img/logo.png' %}" onclick="alert('سبد شما خالی است')"
                        class="w-full object-contain rounded-xl animate-wiggle hover:animate-spin  animate-infinite animate-ease-in-out transition-all h-[40px] lg:h-[50px]"
                  alt="logo">
                  {% endif %}
                {% endwith %}
              </div>
           
            </a>
        </div>
        <!-- {#  Desktop Login btn  #} -->
        <button class="hidden lg:flex w-52" onclick="modal('1')"><a class="hover:text-primary transition-all font-medium nav-link"
          >
         <i class="fas fa-pen"></i>سفارش اختصاصی </a> </button>
        <!-- {#  Mobile navbar  #} -->
        <div id="mobile-nav"
             class="fixed flex-col justify-between items-center w-[80%] bg-white text-black right-0 top-0 p-[2.5rem] transform translate-x-[100%] gap-5 transition-transform duration-300 ease shadow"
             style="z-index: 12;">
            <div class="h-30 w-full mt-4 flex justify-end cursor-pointer" onclick="toggleMobileMenu()">
                <i class="fa-solid fa-xmark text-2xl"></i>
            </div>

            <ul class="gap-12 flex flex-col justify-start items-start h-[70vh] mt-5 overflow-y-auto">
                <li><a class="hover:text-primary transition-all font-medium nav-link" href="{% url 'shop:home' %}"><i
                        class="fas fa-home"></i> خانه </a></li>
                <li><a class="hover:text-primary transition-all font-medium nav-link" href="{% url 'shop:product_list' %}"><i
                        class="fas fa-list"></i> دسته بندی </a></li>
                <li><a class="hover:text-primary transition-all font-medium nav-link" href="{% url 'blog:post-list' %}"><i
                        class="fas fa-book"></i> مجله   محصولات برنز خلیج فارس</a></li>
                <li><a class="hover:text-primary transition-all font-medium nav-link" href="{% url 'shop:about' %}"><i
                            class="fas fa-info-circle"></i> درباره ما</a></li>
            </ul>


            <div class="h-[15vh] flex flex-col justify-end w-full gap-2">
                <button class="flex  bottom-5 right-5 primary_btn w-" onclick="modal('1')">سفارش اختصاصی</button>
                {% if user.is_authenticated %}
                   <a class="btn w-full flex justify-center bg-primary px-5 before:bg-primary-500 text-white"
                       href="#" title="داشبورد"><i class="fa-solid fa-user"></i>
                        <p class="mx-2">{{user.first_name}}</p></a> 
                    
                    <a class="btn w-full bg-red-400 px-5 before:bg-red-300"
                       title="خروج"
                       href="{% url 'account:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket text-lg"></i>
                        خروج از حساب
                    </a>
                {% else %}
                    <a href="{% url 'account:login' %}"
                       class="btn w-full bg-primary px-10 before:bg-primary-500 text-white text-sm">
                        ورود | ثبت نام
                    </a>
                {% endif %}
            </div>
        </div>
        {#    mobile navbar backdrop    #}
        <div id="backdrop" style="z-index: 11;" onclick="toggleMobileMenu()"></div>
    </div>

</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".nav-link");

        // Get the current URL path
        const currentPath = window.location.pathname.split('/')[1];

        links.forEach(link => {
            const linkPath = link.getAttribute("href").split('/')[1];
            if (linkPath === currentPath) {
                link.classList.add("text-primary");
            }
        });
    });

    function toggleMobileMenu() {
        const mobileNav = document.getElementById('mobile-nav');
        const backdrop = document.getElementById('backdrop');
        mobileNav.classList.toggle('translate-x-[100%]');
        backdrop.classList.toggle('show');
        document.body.classList.toggle('overflow-hidden');
    }
</script>

