{% load static %}

<section class="w-full md:w-[80%] h-[100vh] md:h-[80vh] md:max-h-[780px] md:mt-20 lg:mt-24 mb-10 md:mb-24 mx-auto">
    {# card #}
    <div class="relative flex flex-col h-full md:rounded-xl shadow-[0_12px_40px_rgba(0,0,0,.25)] shadow-secondary/50">
        {#card image#}
        <div class="h-2/3 relative md:rounded-t-xl overflow-hidden">
            <video class="w-full h-full object-cover object-top bg-secondary-600" autoplay="autoplay" loop="loop"
                   muted="muted">
                <source src="{% static 'videos/Hero_doondook.mp4' %}">
            </video>
            <div class="w-full text-center md:text-start h-2/3 bg-gradient-to-t from-secondary to-transparent absolute flex flex-col justify-end p-8"
                 style="bottom: -3px">
                <h1 class="font-bold text-3xl md:text-4xl text-white lg:text-6xl">
                      محصولات برنز خلیج فارس
                </h1>
            </div>
        </div>
        {#card body#}
        <div class="h-2/5 md:h-1/2 bg-secondary text-white text-center md:text-start px-8 md:rounded-b-xl">
            <div class="md:w-1/2 flex flex-col gap-6 md:gap-7">
                <h4 class="text-xl lg:text-2xl font-medium" style="line-height: 1.5">ساخت و طراحی وسایل برنزی منزل <br/> لوستر ، مبلمان (برنز)</h4>

                    <a class="w-fit mx-auto md:mx-0 button font-medium text-xl bg-gray-300 px-10 before:bg-white text-black"
                       href="{% url 'shop:product_list' %}" title="شروع خرید"><i class="fa-solid fa-play animate-pulse"></i>
                       همه محصولات</a>
                

                <button onclick="scrollDown()" class="md:hidden"><span
                        class="text-white text-xl flex items-end justify-center gap-1 hover:gap-2 transition-all"> اطلاعات بیشتر<i
                        class="fa-solid fa-chevron-down animate-bounce animate-infinite animate-ease-in-out"></i></span>
                </button>
            </div>
        </div>
        {#card popup#}
        <div class="hidden md:flex absolute -left-10 xlg:-left-16 bottom-10 md:w-1/2 rounded-2xl bg-white xlg:w-2/5 2xl:w-1/3 min-h-2/3 shadow-[0_12px_20px_rgba(0,0,0,.12)] p-5 px-10 py-7 flex-col gap-7">
            <img src="{% static "img/luster-53.jpg" %}" alt="">
        </div>
    </div>
</section>

<script>
    function scrollDown() {
        // Scroll the remaining height to reach 100% of the viewport height
        const currentScroll = window.scrollY;
        const viewportHeight = window.innerHeight;
        const scrollAmount = viewportHeight - (currentScroll % viewportHeight) - 60;

        window.scrollBy({
            top: scrollAmount,
            behavior: 'smooth'
        });
    }
</script>