{% extends "core/shared/_MainLayout.html" %}
{% load static %}
{% block title %}
    <title>
        درباره  ارسی
    </title>
{% endblock %}
{% block custumemeta %}
    <meta name="title" content="ما یک استارتاپ در حوزه ساخت تبلیغا تعاملی هستیم.">
    <meta name="description"
          content=" ارسی ابزار ساخت بازیهای تبلیغاتی با روشی ساده و کاربردیه، که به شما این امکان رو میده بدون نیاز به دانش برنامه نویسی و فقط با طی کردن چند مرحله یک بازی تبلیغاتی رو متناسب با کسب و کار خودتون بسازید و مسیر جدیدی رو برای تعامل با مخاطبینتون تجربه کنید.">
    <meta name="keywords" content="تیم بازیسازی , تیم ساخت بازی تبلیغاتی, تیم ساخت کمپین تبلیغاتی">
    <meta name="author" content="Siavash Rahimi">
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <main class="w-full max-w-7xl mx-auto flex flex-col gap-20">
        {#    hero section    #}
        <div class="min-h-[100vh] w-full relative pt-24 flex flex-col justify-center gap-5 px-10">
            <div class="flex flex-col md:flex-row items-center justify-between">
                <div class="md:w-1/2 flex flex-col gap-5 md:mt-10">
                    <h1 class="font-bold text-3xl lg:text-4xl xl:text-5xl flex gap-2">
                        درباره ما
                    </h1>
                    <p class="text-lg text-justify"> تیم ما متشکل از چند جوان با تخصص‌های مختلف در حوزه‌ی
                        بازاریابی، تبلیغات و برنامه‌نویسی است که از ابتدای سال 1401 برای تحقق یک رویای بزرگ هم‌پیمان شده
                        اند.</p>
                </div>
                <div class="w-full md:w-1/2 hidden md:block">
                    <img class="md:w-1/2 mx-auto" src="{% static 'img/About/about-us.png' %}" alt="about-us-pic"/>
                </div>
            </div>

            <div class="flex flex-col md:flex-row items-center justify-between">
                <div class="w-full md:w-1/2">
                    <img class="md:w-1/2 mx-auto" src="{% static 'img/About/about-goal.png' %}" alt="about-us-pic"/>
                </div>
                <div class="md:w-1/2 flex flex-col gap-2">
                    <h2 class="font-medium text-xl md:text-2xl lg:text-3xl mt-10 flex items-center gap-2"> هدف ما<img
                            src="{% static 'img/About/gamepad-icon.svg' %}"
                            class="animate-wiggle animate-infinite" style="width: 45px"/></h2>
                    <p class="text-lg text-justify"> چشم‌انداز و ماموریت ما تبدیل شدن به اولین پلتفرم آنلاین ساخت بازی
                        تبلیغاتی در کشور
                        و خاورمیانه
                        است و با تلاش‌های مستمر و شبانه‌روزی تیم  ارسی در کنار سرمایه‌گذارانی که به اعتبار
                        و ریشه‌ی
                         ارسی کمک می‌کنند، چشم‌انداز ما در حال تحقق است :)</p>
                </div>
            </div>
        </div>

        {#    contact us     #}
        <section class="flex flex-col items-center justify-center p-5 w-full">
            <div class="relative w-full mt-3">
                <a class="relative z-[5] w-fit bg-[#F1F5F9] mx-auto px-5 md:px-16 font-medium text-sm text-black flex gap-2 items-center justify-center"
                   href="{% url 'account:login_s' %}"><h2 class="font-bold text-3xl md:text-4xl lg:text-5xl">ارتباط با
                    ما</h2>
                </a>
                <div class="absolute w-full bg-gray-300" style="height: 1px; top:1.2rem;"></div>
            </div>

            <p class="mt-5 text-gray-600 text-base">مشتاق شنیدن انتقادات و پیشنهادات شما هستیم :)</p>


            <div class="w-full flex flex-col lg:flex-row py-10 gap-10">

                <div class="w-full flex flex-col border rounded-xl p-6 lg:w-1/2 gap-10">
                    <h2 class="text-center font-medium text-xl md:text-2xl lg:text-3xl">اطلاعات ارتباطی</h2>
                    <div class="flex flex-col gap-10">
                        <div class="lg:w-1/2">
                            <h3 class="font-bold text-xl mb-3">آدرس </h3>
                            <p class="text-gray-600 text-sm md:text-base">همدان،
                                دانشگاه بوعلی-ساختمان مرکز نوآوری کندو -طبقه اول</p>
                        </div>
                        <div class="flex flex-col md:flex-row items-start gap-10">
                            <div class="w-full md:w-1/2 md:border-l">
                                <h3 class="font-bold text-xl mb-3">شماره تماس</h3>
                                <div class="flex justify-start md:flex-col gap-5 md:gap-2">
                                    <a class="text-secondary text-sm md:text-base flex gap-1 items-center" href="tel:09189069525"><i
                                            class="fa-solid fa-phone flip-x" style="-moz-transform: scale(-1, 1);
                                                                            -o-transform: scale(-1, 1);
                                                                            -webkit-transform: scale(-1, 1);
                                                                            transform: scale(-1, 1);"></i>
                                        09189069525</a>
                                    <a class="text-secondary text-sm md:text-base flex gap-1 items-center" href="tel:09365086743">
                                        <i class="fa-solid fa-phone flip-x" style="-moz-transform: scale(-1, 1);
                                                                                    -o-transform: scale(-1, 1);
                                                                                    -webkit-transform: scale(-1, 1);
                                                                                    transform: scale(-1, 1);"></i>
                                        09365086743</a>
                                </div>

                            </div>
                            <div class="w-1/2">
                                <h3 class="font-bold text-xl mb-3">ایمیل</h3>
                                <a class="text-secondary text-sm md:text-base flex gap-1 items-center" href="mailto:info@soorchi.com">
                                    <i class="fa-solid fa-mail-bulk"></i>
                                    info@soorchi.com</a>
                            </div>
                        </div>


                        <div>

                            <h3 class="font-bold text-xl mb-3">ساعات فعالیت</h3>
                            <p class="text-gray-600 text-sm md:text-base">شنبه تا پنجشنبه | 09:00AM - 05:00PM</p>

                        </div>
                    </div>

                </div>

                <div class="w-full flex flex-col items-center justify-center border rounded-xl p-6 lg:w-1/2 gap-10">
                    <h2 class="text-center font-medium text-xl md:text-2xl lg:text-3xl">تماس با ما</h2>
                    <form action="{% url 'CRM:CRM_center' %}" method="post"
                          class="w-full flex flex-col gap-4 justify-center">
                        <div class="flex flex-col md:flex-row items-center gap-3 w-full">
                            <input type="text" name="name"
                                   class="font-semibold px-4 w-full h-12 rounded-xl border border-gray-300 bg-slate-100 text-start"
                                   placeholder="نام" required/>
                            <input type="text" name="lastName"
                                   class="font-semibold px-4 w-full h-12 rounded-xl border border-gray-300 bg-slate-100 text-start"
                                   placeholder="نام خانوادگی" required/>
                        </div>


                        <input type="text"
                               class="font-semibold px-4 w-full h-12 rounded-xl border border-gray-300 bg-slate-100 text-start"
                               name="phone"
                               placeholder="شماره تلفن" required/>

                        <input type="text"
                               class="font-semibold px-4 w-full h-12 rounded-xl border border-gray-300 bg-slate-100 text-start"
                               name="company"
                               placeholder="نام کسب کار" required/>

                        <input type="text"
                               class="font-semibold px-4 w-full h-12 rounded-xl border border-gray-300 bg-slate-100 text-start"
                               name="subject"
                               placeholder="موضوع" required/>

                        <textarea
                                class="font-semibold px-4 rounded-xl border border-gray-300 bg-slate-100 text-start p-4  resize-y w-full h-[200px]"
                                name="message" rows="6"
                                placeholder="پیام" required></textarea>

                        <button type="submit"
                                class="button font-medium text-xl bg-secondary px-10 before:bg-secondary-400 flex justify-center items-center gap-2 text-white">
                            <i
                                    class="fa-solid fa-message"></i> ارسال پیام
                        </button>

                    </form>
                </div>
            </div>
        </section>


    </main>
{% endblock %}