{% extends "core/shared/_MainLayout.html" %}
{% load static %}
{% block title %}
    <title>
        تمپلیت های  ارسی
    </title>
{% endblock %}
{% block custumemeta %}
    <meta name="title" content="بازی های تبلیغاتی html5">
    <meta name="description"
          content="بازی های که کسب و کار می تواند این بازی ها برای بیزینس خود شخصی سازی کند و در قالب آن این بازی محصولات و خدمات خود را معرفی کند . این بازی ها می تواند به جذب مخاطب و شناخت بیشتر از کسب و کار کمک کند">
    <meta name="keywords"
          content="گردونه شانس,بازی پازل, بازی عکس برگردان, معمای تصویری, بازی معمایی, کندی کراش, فوتبال, بازی فوتبال, ساخت بازی,puzzle, candy crush, memory game, football game, quizy game, round of luck, spinner">
    <meta name="author" content="Siavash Rahimi">
    <meta name="robots" content="index, follow">

{% endblock %}
{% block custumecss %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",
            "name": "مشاهده قالب‌ها",
            "description": "با  ارسی می توانید کمپین های تبلیغاتی با محوریت بازی راه اندازی کنید.</H1><P class=\"font-persianRegular text-xl md:w-[55%] pt-5 text-black xlg:items-start text-md md:text-xl text-center\">مطابق اهداف بازاریابی و تبلیغات کسب و کار و خود یکی از بازیهای زیر را انتخاب و محصوولات و خدمات خود را در قالب این بازی معرفی کنید",
            "url": "",
            "offers": {
                "@type": "Offer",
                "price": "تعرفه ها"
            }
        }
    </script>
{% endblock %}
{% block content %}
    <main class="min-h-screen w-full max-w-7xl mx-auto flex flex-col gap-10 my-10">
        <div class="flex flex-col justify-center items-center mt-5 md:mt-10 w-full text-center px-5">
            <h1 class="text-bold text-xl md:text-2xl lg:text-3xl font-bold my-10 mb-5">
                با  ارسی می توانید کمپین های تبلیغاتی با محوریت بازی راه اندازی کنید! ✅</h1>
            <p class="font-medium text-xs md:text-base text-gray-600">
                مطابق اهداف بازاریابی و تبلیغات کسب و کار و خود یکی از بازیهای زیر را انتخاب و محصولات و خدمات خود را در
                قالب این بازی معرفی نمایید
            </p>
        </div>

        <div class="flex flex-wrap md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4 items-start px-5 md:px-10 gap-10 md:gap-7 xl:gap-10">
            {% for item in offers %}
                <a class="shadow shadow-blur h-full bg-white relative isolate flex flex-col justify-end overflow-hidden rounded-2xl mx-auto w-full p-3 gap-2"
                   href="{% url 'core:TemplateDetail' item.id %}">
                    <div class="flex-1 min-h-[300px] flex bg-primary rounded-t-xl overflow-hidden game-video-container relative"
                         style="border-radius: 16px">
                        {% if item.image %}
                            <div><img alt="{{ item.title_fa }}"
                                      src="/media/{{ item.image }}"
                                      class="flex-1 w-full h-full object-cover bg-primary object-center xl:object-center ease-in-out"
                            ></div>

                            <video class="video-element absolute top-0 left-0 w-full h-full object-cover object-center ease-in-out"
                                   src="/media/{{ item.video }}" muted loop>
                                <source src="/media/{{ item.video }}" type="video/mp4">
                                مرورگر شما از تگ ویدیو پشتیبانی نمی‌کند.
                            </video>
                        {% else %}
                            <div class="flex w-full h-full justify-center items-center text-white/60 font-semibold min-h-[300px]">
                                فاقد عکس
                            </div>
                        {% endif %}
                    </div>
                    <div class="h-full flex flex-col p-2 gap-2">
                        <h3 class="z-10 text-xl font-bold text-black">{{ item.title_fa }} <i
                                class="fa-solid fa-gamepad text-primary text-sm"></i></h3>
                        <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-600 line-clamp-4">{{ item.body_fa }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </main>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const videoContainers = document.querySelectorAll('.game-video-container');

            videoContainers.forEach(container => {
                const video = container.querySelector('.video-element');

                container.addEventListener('mouseenter', () => {
                    video.currentTime = 0;
                    video.play();
                });

                container.addEventListener('mouseleave', () => {
                    video.pause();
                    video.currentTime = 0;
                    video.load(); // This will reset the video and show the poster
                });
            });
        });

    </script>
{% endblock %}

