{% extends "core/shared/_MainLayout.html" %}
{% load static %}
{% block title %}
    <title>
         ارسی
    </title>
{% endblock %}
{% block custumemeta %}
    <meta name="title" content="ابزار ساخت بای های آنلاین تبلیغاتی">
    <meta name="description"
          content=" ارسی ابزار ساخت تبلیغات تعامی است. با استفاده از  ارسی می توان تبلیغات تعاملی با محوریت بازی و چالش تبلیغاتی ساخت.  ارسی میتواند با ساخت تبلیغات  خلاقانه و بازی های سرگرم کننده به رشد کسب وکار شما کمک کند  تعامل با کاربران شما را افزایش دهد.">
    <meta name="keywords" content="ساخت بازی تبلیغاتی ,ساخت گردونه شانس ,ساخت تبلیغات تعاملی 
                                            ,گیمیفیکیشن ,تبلیغات با بازی,جذب مخاطب ,بازاریابی 
                                                                    ,کمپین , ساخت کمپین تبلیغاتی 
                                                            ,ساخت تبلیغات خلاقاته , ارسی ,ساخت بازی,  
                                                                    gamification, play ads, Advergame,
                                                                        soorchi, html5 game,game, ADS">
    <meta name="author" content="Siavash Rahimi">
    <meta name="robots" content="index, follow">
    <meta name="enamad" content="191727"/>
{% endblock %}

{% block custumecss %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",
            "name": " ارسی",
            "description": "پلتفرم آنلاین ساخت بازی‌های تبلیغاتی</H3><P class=\"font-persianRegular text-justify text-xl w-[80%] pt-5 text-gray-500 xlg:items-start\"> ارسی ابزار ساخت بازیهای تبلیغاتی با روشی ساده و کاربردیه، که به شما این امکان رو میده بدون نیاز به دانش برنامه نویسی و فقط با طی کردن چند مرحله یک بازی تبلیغاتی رو متناسب با کسب و کار خودتون بسازید و مسیر جدیدی رو برای تعامل با مخاطبینتون تجربه کنید.",
            "offers": {
                "@type": "Offer",
                "price": "تعرفه ها"
            }
        }
    </script>
{% endblock %}

{% block content %}
    <main class="min-h-screen w-full max-w-7xl mx-auto flex flex-col gap-20">
        
        {#  Hero  #}
        {% include 'core/landing/Hero.html' %}

        {#  Latest Product #}
        {% include 'core/landing/LatestCampaigns.html' %}




  

    </main>
{% endblock %}
{% block customJs %}
{% endblock %}
