{% extends "core/shared/_MainLayout.html" %}
{% load static %}
{% block custumecss %}
{% endblock %}
{% block title %}
    <title>
        {{ template.title_fa }}  ارسی
    </title>
{% endblock %}
{% block custumemeta %}
    <meta name="title" content="{{ template.body_fa }}">
    <meta name="description" content="{{ template.body_en }}">
    <meta name="keywords" content="{{ template.title_fa }}">
    <meta name="author" content="Siavash Rahimi">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
{% endblock %}

{% block content %}
    <main class="min-h-screen w-full max-w-7xl mx-auto flex flex-col gap-7 mt-24 p-5">
        <h1 class="font-bold text-xl text-center xlg:text-start md:text-3xl text-slate-700">
            {{ template.title_fa }} - خرید اشتراک بازی تبلیغاتی
        </h1>


        <div class="flex flex-col xl:flex-row relative gap-7">
            {#   Sticky price   #}
            <div class="xl:w-1/3 flex flex-col gap-4 sticky h-fit order-2 xl:order-1" style="top: 6rem">
                <div class="border-2 border-primary rounded-xl text-primary p-5 flex flex-col gap-3">
                    <h3 class="font-semibold text-xl">تهیه اشتراک سالیانه</h3>
                    <div class="flex gap-5 justify-between items-start">
                        <p class="w-1/2 text-sm text-justify text-black">با تهیه اشتراک بازی به صورت سالیانه، بدون
                            محدودیت کمپین های آنلاین راه اندازی کنید یا با قرار دادن آن بر روی سایت خود، لید جمع آوری
                            کنید.
                        </p>
                        <h4 class="w-1/2 text-center text-xl font-semibold text-nowrap">
                            {{ template.price }}
                            تومان</h4>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    {% if template.publish == True %}
                        <a
                                href="{% url 'offer:pre-create' template_id=template.id %}"
                                class="group button customShadow shadow-primary-50/20 w-full px-10 font-medium text-xl bg-primary before:bg-primary-500 text-white flex gap-2 items-center justify-center">ساخت
                            این بازی<i
                                    class="fa-solid fa-gamepad text-2xl animate-wiggle-more group-hover:animate-spin animate-infinite animate-ease-in-out transition-all"></i>
                        </a>
                        <a href="tel:09365086743"
                           class="bg-white rounded-xl p-5 flex flex-col gap-3 shadow-md text-center text-secondary md:text-sm md:text-nowrap">
                            درصورت نیاز به راهنمایی با پشتیانی تماس بگیرید (09365086743)</a>
                    {% else %}
                        <a href="tel:09365086743"
                           class="bg-white rounded-xl p-5 flex flex-col gap-3 shadow-md text-center text-secondary md:text-sm md:text-nowrap">
                            برای استفاده با پشتیانی تماس بگیرید (09365086743)</a>
                    {% endif %}
                {% else %}<a
                        href="{% url 'account:login' %}?template={{ template.id }}"
                        class="group button customShadow shadow-primary-50/20 w-full px-10 font-medium text-xl bg-primary before:bg-primary-500 text-white flex gap-2 items-center justify-center">برای
                    ساخت این بازی وارد شوید
                </a>
                    <a href="tel:09365086743"
                       class="bg-white rounded-xl p-5 flex flex-col gap-3 shadow-md text-center text-secondary md:text-sm md:text-nowrap">
                        درصورت نیاز به راهنمایی با پشتیانی تماس بگیرید (09365086743)</a>
                {% endif %}

            </div>
            {#   template detail   #}
            <div class="flex-1 flex flex-col gap-5 order-1 xl:order-2">
                {#       gallery and play frame     #}
                <section class="px-5 md:px-0">
                    <!-- Content Sections -->
                    <div id="iframeContent" class="tab-content">
                        {% if gamePath %}
                            {% with path=gamePath %}
                                <iframe class="w-full h-[65vh] max-h-[600px] lg:w-full rounded-xl overflow-hidden"
                                        id="myIframe" src="{% static path %}" style="height: 65vh"></iframe>
                            {% endwith %}
                        {% else %}
                            <img class="w-[100%] md:w-[80%] lg:w-[70%] xlg:w-[55%] xl:w-[45%] 2xl:w-[34%] my-4"
                                 src="{{ template.title_en }}" alt="example">
                        {% endif %}
                    </div>


                    <div id="carouselContent" class="tab-content hidden">
                        <div id="image-carousel" class="splide" dir="ltr">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    {% for img in template.images.all %}
                                        <li class="splide__slide rounded-xl overflow-hidden p-2"><img class="rounded-xl"
                                                                                                      src="{{ img.Image.url }}"
                                                                                                      alt="{{ img.Image.url }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Buttons -->
                    <div class="tab-buttons flex justify-end mt-3 gap-3">
                        <button class="tab-button px-4 py-2 bg-white shadow-md rounded-xl"
                                onclick="showContent('iframeContent')">دموی بازی
                        </button>
                        <button class="tab-button px-4 py-2 bg-white shadow-md rounded-xl ml-2"
                                onclick="showContent('carouselContent')">
                            گالری تصاویر
                        </button>
                    </div>

                </section>

                <div class="flex flex-col lg:flex-row gap-4">
                    {#     barcode   #}
                    <div class="lg:w-2/5 bg-white rounded-xl flex gap-4 items-start overflow-hidden p-3 shadow-md">
                        <img class="aspect-square w-16" src="/media/{{ template.qr_code }}"/>
                        <h3>برای مشاهده بازی در موبایل بارکد رو اسکن کنید.</h3>
                    </div>

                    {#   tags   #}
                    <div class="flex-1 flex flex-col items-between bg-white rounded-xl text-xs gap-2 overflow-hidden p-3 shadow-md">
                        <div class="flex gap-2">
                            <span class="flex items-center gap-1 text-gray-600"><i
                                    class="fa-solid fa-baseball text-[10px]"></i>دسته بندی:</span>
                            <p>معمایی</p>
                        </div>
                        <div class="flex gap-2">
                            <div class="flex gap-2 w-1/2 flex-col sm:flex-row">
                                <span class="flex items-center gap-1 text-gray-600"><i
                                        class="fa-solid fa-baseball text-[10px]"></i>نحوه بازی:</span>
                                <p>تاچ یا موس</p>
                            </div>
                            <div class="flex gap-2 w-1/2 flex-col sm:flex-row">
                                <span class="flex items-center gap-1 text-gray-600"><i
                                        class="fa-solid fa-baseball text-[10px]"></i>فرمت بازی:</span>
                                <p>HTML5 و بدون نیاز به نصب</p>
                            </div>
                        </div>
                        <div class="flex gap-2">
                            <div class="flex gap-2 w-1/2 flex-col sm:flex-row">
                                <span class="flex items-center gap-1 text-gray-600"><i
                                        class="fa-solid fa-baseball text-[10px]"></i>مناسب دستگاه های:</span>
                                <p>موبایل و لپ تاپ</p>
                            </div>
                            <div class="flex gap-2 w-1/2 flex-col sm:flex-row">
                                <span class="flex items-center gap-1 text-gray-600"><i
                                        class="fa-solid fa-baseball text-[10px]"></i>برچسب ها:</span>
                                <p>بازی تبلیغاتی</p>
                            </div>
                        </div>


                    </div>
                </div>

                {#      details     #}
                <div class="bg-white rounded-xl divide-x flex flex-col xl:flex-row gap-10 shadow-md p-10 text-justify">
                    <div class="xl:w-3/4 flex flex-col gap-3 order-1 xl:order-2">
                        <h4 class="font-medium text-xl md:text-2xl">توضیحات درمورد این بازی</h4>
                        <p>{{ template.body_fa }}
                        </p>
                        <h4 class="font-medium text-xl md:text-2xl"> بازی چه کمکی به کسب و کار شما می کند؟</h4>
                        <p>{{ template.body_en }}
                        </p>
                    </div>

                    <div class="order-2 xl:order-1 flex-1 md:w-1/2">
                        <div class="flex flex-col gap-3">
                            <h4 class="font-medium text-xl md:text-2xl">ویژگی‌ها:</h4>
                            <ul class="text-sm">
                                <li>✅ واکنش‌گرا</li>
                                <li>✅ موسیقی جذاب</li>
                                <li>✅ گیم پلی جذاب</li>
                                <li>✅ سن: +7</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#  other games  #}
        <section class="pt-10 my-10" style="border-top: 2px solid rgba(0,0,0,0.1)">
            <div class="flex items-start justify-between">
                <h2 class="font-bold text-2xl md:text-3xl text-slate-700 mb-10">بازی های دیگر</h2>
                <a href="{% url 'core:examble' %}" class="text-secondary flex items-center gap-1">مشاهده همه<i
                        class="fa-solid fa-arrow-left text-xs"></i></a>
            </div>

            <div class="flex flex-wrap md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4 items-start gap-10 md:gap-7 xl:gap-10">

                {% for item in offers %}
                    <a class="shadow shadow-blur h-full bg-white relative isolate flex flex-col justify-end overflow-hidden rounded-2xl mx-auto p-3 gap-2"
                       href="{% url 'core:TemplateDetail' item.id %}">
                        <div class="flex-1 min-h-[300px] flex bg-primary rounded-t-xl overflow-hidden game-video-container relative"
                             style="border-radius: 16px">
                            {% if item.image %}
                                <div><img alt="{{ item.title_fa }}"
                                          src="/media/{{ item.image }}"
                                          class="flex-1 w-full h-full object-cover bg-primary object-center xl:object-center ease-in-out"
                                ></div>
                                <video class="video-element absolute top-0 left-0 w-full h-full object-cover object-center ease-in-out"
                                       src="/media/{{ item.video }}" muted loop>
                                    <source src="/media/{{ item.video }}" type="video/mp4">
                                    مرورگر شما از تگ ویدیو پشتیبانی نمی‌کند.
                                </video>
                            {% else %}
                                <div class="flex w-full h-full justify-center items-center text-white/60 font-semibold min-h-[10em]">
                                    فاقد عکس
                                </div>
                            {% endif %}
                        </div>
                        <div class="h-fit flex flex-col p-2 gap-2">
                            <h3 class="z-10 text-xl font-bold text-black">{{ item.title_fa }} <i
                                    class="fa-solid fa-gamepad text-primary text-sm"></i></h3>
                            <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-600">این بازی خیلی لذت
                                بخش
                                است. شما باید پازل ها را درست در جای خود قرار دهید و به این ترتیب برنده بازی خواهید شد.
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>

    </main>




{% endblock %}
{% block customJs %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const videoContainers = document.querySelectorAll('.game-video-container');

            videoContainers.forEach(container => {
                const video = container.querySelector('.video-element');

                container.addEventListener('mouseenter', () => {
                    video.currentTime = 0;
                    video.play();
                });

                container.addEventListener('mouseleave', () => {
                    video.pause();
                    video.currentTime = 0;
                    video.load(); // This will reset the video and show the poster
                });
            });
        });

        <!-- JavaScript to switch tabs -->
        function showContent(contentId) {
            // Hide all content sections
            var contents = document.querySelectorAll('.tab-content');
            contents.forEach(function (content) {
                content.classList.add('hidden');
            });

            // Show the selected content section
            document.getElementById(contentId).classList.remove('hidden');

            // Update the tab buttons' appearance
            var buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(function (button) {
                button.classList.remove('bg-secondary', 'text-white');
                button.classList.add('bg-white');
            });

            // Highlight the active button
            var activeButton = document.querySelector('button[onclick="showContent(\'' + contentId + '\')"]');
            activeButton.classList.remove('bg-white');
            activeButton.classList.add('bg-secondary', 'text-white');
        }

        showContent('iframeContent');
    </script>


    <script>

        // hide the iframe at first
        var iframe = document.getElementById("myIframe");

        window.addEventListener("message", function (event) {
            if (event.data) {

                if (event.data.type === "InitData") {
                    var response = {{ data | safe }};
                    event.source.postMessage(response, event.origin);
                } else if (event.data.type === "GameLoaded") {
                    // show the iframe when the game says "GameLoaded"
                    iframe.style.display = "block";
                } else if (event.data.type === "EndGame") {

                    location.reload();
                }

            }

        });

        document.addEventListener('DOMContentLoaded', function () {
            new Splide('#image-carousel', {
                type: 'loop',
                perPage: 3,
                breakpoints: {
                    450: {
                        perPage: 1,
                    },
                    600: {
                        perPage: 2,
                    },
                    1024: {
                        perPage: 3,
                    },
                },
                autoplay: true,
                interval: 3000,
            }).mount();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
{% endblock %}
